name: CI

on:
  push:
    branches:
    - master
    tags:
    - "v*"
  pull_request:

jobs:

  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [ 'openjdk@1.8', 'openjdk@1.11' ]
        scala: [ '2.13.1', '2.12.10' ]

    steps:
    - uses: actions/checkout@v1
    - uses: olafurpg/setup-scala@v7
      with:
        java-version: ${{ matrix.java }}
    - name: run tests
      run: sbt ++${{ matrix.scala }} test

  publish:
    
    needs: test
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')

    runs-on: ubuntu-latest

    env:
      PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
      PGP_SECRET: ${{ secrets.PGP_SECRET }}
      SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}

    steps:

      - uses: actions/checkout@v1
      - uses: olafurpg/setup-scala@v7
        with:
          java-version: openjdk@1.8
    
      - uses: olafurpg/setup-gpg@v2

      - name: publish plugin
        run: sbt ++2.12.10 "project sbt-java-gen; ci-release;"
        env:
          CI_RELEASE: publishSigned
          CI_SNAPSHOT_RELEASE: publish

      - name: publish runtime
        run: sbt "project java-runtime; ci-release;"